* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
   width: 100%;
  background-color: #f0f2f5;
}

.create-post form {
    width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: space-around;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.create-post input,
.create-post textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.create-post button {
  padding: 10px;
  border: none;
  border-radius: 999px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.Feed-title{
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: #333;
}

.feed-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.post-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.post-card h3 {
  margin-bottom: 10px;
}

.post-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;     /* critical */
  border-radius: 10px;
}



.create-post button:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
  opacity: 0.7;
}
